# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


/*

connect to git hub 
1) git init
2) git add .
3)git config --global user.name "username"
4) git config --global user.email "Github account email"
5) git commit -m "Initial commit"
*/